<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="1 0 2.25" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="1 0 2.25" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.5 1.25" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="1 0 2.25" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.5 1.25" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_LeftLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="LeftLeg"/>
       <origin rpy="0 0 0" xyz="0.75 0 1.89" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLeg">
        <inertial>
            <origin xyz="-0.25 0 -1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.25 0 -1" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 1.5" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.25 0 -1" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 1.5" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_RightLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="RightLeg"/>
       <origin rpy="0 0 0" xyz="1.25 0 1.89" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightLeg">
        <inertial>
            <origin xyz="0.25 0 -1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.25 0 -1" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 1.5" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.25 0 -1" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 1.5" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_LeftArm" type="revolute">
       <parent link="Torso"/>
       <child  link="LeftArm"/>
       <origin rpy="0 0 0" xyz="0.5 0 2.875" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftArm">
        <inertial>
            <origin xyz="-0.25 0 -0.375" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.25 0 -0.375" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.25 0.75" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.25 0 -0.375" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.25 0.75" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_RightArm" type="revolute">
       <parent link="Torso"/>
       <child  link="RightArm"/>
       <origin rpy="0 0 0" xyz="1.5 0 2.875" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightArm">
        <inertial>
            <origin xyz="0.25 0 -0.375" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.25 0 -0.375" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.25 0.75" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.25 0 -0.375" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.25 0.75" />
            </geometry>
        </collision>
    </link>
</robot>